* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  flex-wrap: wrap;
  /*   border: 1px solid gray; */
  /*   padding: 4px; */
}
.flex div {
  border: 1px solid gray;
  padding: 24px;
  /*   margin: 5px; */
  background: #a4f2d8;
  font-family: verdana;
  font-size: 19px;
  text-align: center;
  color: gray;
}
